<!DOCTYPE html>
<html>
<head>
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'miapp/navbar.html' %}

    <div class="container">
        <h1 class="mt-5">Confirmar Eliminación</h1>
        <p>¿Estás seguro de que deseas eliminar la categoría "{{ categoria.nombre }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="confirmar">Confirmar</button>
            <a href="{% url 'categoria-list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
