<!DOCTYPE html>
<html>
<head>
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>
    <p>¡Explora nuestras secciones!</p>
    <ul>
        <li><a href="{% url 'categoria-list' %}">Lista de Categorías</a></li>
        <li><a href="{% url 'producto-list' %}">Lista de Productos</a></li>
        <li><a href="{% url 'categoria-create' %}">Crear Categoría</a></li>
        <li><a href="{% url 'producto-create' %}">Crear Producto</a></li>
        <li><a href="{% url 'buscar' %}">Buscar Productos</a></li>
    </ul>
</body>
</html>
